/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/06/2015, 19:06:30
    Author     : Diego
*/
body{
    font-family: Verdana, Arial;
    font-size: 12px;    
    background: aliceblue;
}

#cabecera{
    width: auto;
    height: auto;
    border-radius: 8px;
}

#main{
    margin-left: auto;
    margin-left: auto;
    padding: 10px 10px 10px 10px;
/*    border: crimson;
    border: solid;*/
}
#menuLateral{
    width: 300px;
/*    float: right;*/
}
#contenido{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#contenido-total {
    /*width: 680px;*/
    background: none repeat scroll 0 0;
    bottom: 50px;
    left: 0;
    overflow: auto;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 127px;
}

#pie{
    background: none repeat scroll 0 0;
    background-size: 100% 100%;
    padding:5px 5px;
    font-size: 9px;
    bottom: 0;
    height: 45px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    color: black;
    width: 99.3%;
}
#ig{    
    width: 80%;    
    margin-left: auto;
    margin-right: auto;
/*    float: left;*/
}
